
<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crear Publicación | SADS-Online</title>
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-light ">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <a class="navbar-brand" href="#"><h2 class="text-muted">Sistema Administrador de Donaciones de Sangre</h2></a>
          <ul class="nav navbar-nav pull-xs-right">
            <% if current_user %>
            <li class="nav-item">
              <%= link_to 'Inicio', user_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Mis publicaciones', my_posts_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Salir', destroy_user_session_path, :method => 'delete', class:'nav-link'%>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to 'Inicio', root_path, class:"nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Ingresa', new_user_session_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Registrate', new_user_registration_path, class:"nav-link" %>
            </li>
            <% end %>
            <li class="nav-item active">
              <%= link_to 'Publica', new_post_path, class:"nav-link" %>
            </li>
          </ul>
        </div>
      </nav>

      <hr/>

      <nav>
        <ul class="pager">
          <li><%= link_to '« Regresar', show_post_path(Post.find(@answer.post_id).slug) %></li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>User name:</strong>
            <%= @answer.user_name %>
          </p>

          <p>
            <strong>Blood group:</strong>
            <%= @answer.blood_group %>
          </p>

          <p>
            <strong>Post:</strong>
            <%= Post.find(@answer.post_id).slug %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @answer.email %>
          </p>

          <p>
            <strong>Phone:</strong>
            <%= @answer.phone %>
          </p>

          <p>
            <strong>Cellphone:</strong>
            <%= @answer.cellphone %>
          </p>

          <p>
            <strong>Message:</strong>
            <%= @answer.message %>
          </p>

          <%= link_to 'Editar', edit_answer_path(@answer) %>
        </div>
      </div>
      

      <hr/>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
